.btn{
    font-size: 1.75rem;
    font-weight: 400;
    border: none;
    border-radius: .6rem;
    padding: 1rem 2rem;
    cursor: pointer;
    background-color: $color-primary;
    color: $color-primary-dark;
    text-decoration: none;
}